.app {
    margin: auto;
    width: 80%;
    background-color: rgb(91, 132, 221);
    display: flex;
}

.app-main,
.app-side {
    display: flex;
    flex-direction: column;
}

.app-main {
    flex: 2;
    background-color: antiquewhite;
    align-items: center;
}

.app-main h1 {
    font: bold 50px/30px "Adobe 宋体 Std L";
    text-shadow: -3px -3px 10px white, 3px 3px 10px black;
}

.qrcode-make {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}

.qrcode-make-container {
    margin-left: 1em;
    margin-right: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.qrcode-make-input {
    height: 168px;
    padding: 0.8em;
    border: 1px solid rgba(97, 94, 94, 0.275);
    border-radius: 0.2em;
    outline: none;
    font-size: 1.5em;
    line-height: 1.5;

}

.qrcode-make-input:focus {
    border: 1px solid rgb(56, 54, 47);
}

.qrcode-make-button-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    border: none;
    background-color: rgb(21, 220, 164);
    color: white;
    border-radius: 0.2em;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(19, 190, 142);
}

.qrcode-make-button {
    margin-top: 1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-size: 1.5em;
}



.qrcode-show {
    width: 168px;
    height: 168px;
    background-color: white;
    margin-right: 1em;
    padding: 0.5em;
    border-radius: 0.2em;
}

.qrcode-show-preview {
    position: absolute;
    width: 168px;
    height: 168px;
    display: flex;
    align-items: center;
}

.qrcode-show-preview-tip {
    text-align: center;
    width: 100%;
    color: rgb(21, 220, 164);
}

.app-side {
    background-color: rgba(220, 202, 226, 0.921);
    flex: 1;
}

.app-side h1 {
    margin-left: 0.5em;
}

.make-code-record-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;

}

.make-code-record-list li {
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 0.5px solid rgb(209, 234, 235);
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    max-width: 400px;
    justify-content: space-between;


}

.make-code-record-list-code {
    font-size: 1.2em;
    white-space: nowarp;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0.3em;
    max-lines: 1;
    flex: 1;

}

.make-code-record-list-code-delete-btn {
    padding-left: 0.8em;
    padding-right: 0.8em;
    height: 30px;
    margin-right: 0.5em;

}